<div class="map-cont">
	<div class="map-vehs">
	</div>
	<div id="dash-gm">map</div>
	<div class="clearfix"></div>
</div>

<div class="veh-sample" style="display: none">
	<h4>{{NAME}}</h4>
	<p>{{LAT}}, {{LNG}}</p>
</div>

<script type="text/javascript">
	$(window).ready(function(){
		window.map.initMap();
	});
</script>