<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <h3>Sign Up</h3>
        <%= render 'sign_up_form' %>
        <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
    </div>
</div>