<li>
    <a href="<%= dashboard_path %>"><i class="fa fa-file-text"></i> <span class="nav-label">Dashboard</span>  </a>
</li>
<li>
    <a href="<%= profile_index_path %>"><i class="fa fa-file-text"></i> <span class="nav-label">Profile</span>  </a>
</li>